<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" th:src="@{/js_nyh/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js_nyh/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <link type="text/css"  rel="stylesheet" th:href="@{/js_nyh/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <!-- rel=stylesheet：1. 定义文档与外部资源的关系；2. 是链接样式表。 -->
    <!-- 所以说，我们用这样的方式，引入外部的css文件时，一定不能忘记rel属性的配置。 -->

    <script type="text/javascript" th:src="@{/js_nyh/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
    <link type="text/css"  rel="stylesheet" th:href="@{/js_nyh/bootstrap-treeview/bootstrap-treeview.min.css}">
    <script type="text/javascript" th:src="@{/js_nyh/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
    <link type="text/css"  rel="stylesheet" th:href="@{/js_nyh/bootStrap-addTabs/bootstrap.addtabs.css}">


    <script type="text/javascript" th:src="@{/js_nyh/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js_nyh/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <link type="text/css"  rel="stylesheet" th:href="@{/js_nyh/bootstrap-table/bootstrap-table.min.css}">


    <script type="text/javascript" th:src="@{/js_nyh/bootstrap-fileinput/js/fileinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/js_nyh/bootstrap-fileinput/js/locales/zh.js}"></script>
    <link type="text/css"  rel="stylesheet" th:href="@{/js_nyh/bootstrap-fileinput/css/fileinput.min.css}">

    <script type="text/javascript" th:src="@{/js_nyh/bootstrap-bootbox/bootbox.js}"></script>
    <script type="text/javascript" th:src="@{/js_nyh/echarts.min.js}"></script>



</head>
<body>
<table id="mytab1" class="table table-hover" ></table>

</body>
<script>
    //查询，分页
    $('#mytab1').bootstrapTable({
        method : 'get',
        url : "apply10",
        columns : [
            {title : '标题',field : 'apply_headline',sortable : true},
            {title : '积分',field : 'apply_integral',sortable : true},
            {title : '操作',field : 'cao',formatter:function(value,row){
                    var ser="";
                    ser+="<button  class='btn btn-success' onclick='up("+row.apply_id+")'>申请</button>" ;
                    return ser;
                }},
        ],
        pagination:true,
        pageSize:10,
        pageList:[2,4,6,8,10],
        sidePagination: "client",
    })



    /**
     * 修改
     */
    function up(apply_id) {
        $.ajax({
            url:"applyup?id="+apply_id,
            type:"get",
            data:$("#myForm").serialize(),
            dataType:"json",
            success:function(){
                location.href ="Applyadd.html";
            }
        })

    }
</script>
</html>